* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  max-width: 2000px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px #dfdfdf;
  position: relative;
}
@media (min-width: 800px) {
  header {
    padding: 0 20px;
  }
}
header.dark {
  background-color: #2b3945;
  color: #ffffff;
  box-shadow: 0 1px 5px #1d2427;
}

h1 {
  font-size: 16px;
  margin-left: 12px;
}
@media (min-width: 800px) {
  h1 {
    font-size: 20px;
  }
}

.mode-toggler {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 12px;
  cursor: pointer;
}
.mode-toggler.dark {
  color: #ffffff;
}

.mode-icon {
  width: 16px;
  margin-right: 8px;
}

.search-filter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .search-filter {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .search-bar {
    margin: 0 50px;
  }
}
.search-bar input {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 50px;
  border: none;
  box-shadow: 0 1px 5px #dfdfdf;
  border-radius: 5px;
  min-width: 320px;
  padding-left: 50px;
}
.search-bar input.dark {
  background-color: #2b3945;
  color: #ffffff;
  box-shadow: 0 1px 5px #1d2427;
}
.search-bar input.dark::-moz-placeholder {
  color: #fafafa;
}
.search-bar input.dark::placeholder {
  color: #fafafa;
}
.search-bar::-moz-placeholder {
  color: #858585;
  font-size: 14px;
}
.search-bar::placeholder {
  color: #858585;
  font-size: 14px;
}
.search-bar .search-icon {
  width: 16px;
  position: absolute;
  margin-left: 20px;
}
.search-bar .search-icon.dark {
  filter: invert(99%) sepia(6%) saturate(3%) hue-rotate(24deg) brightness(106%) contrast(100%);
}

.filter-bar select {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  height: 50px;
  border: none;
  box-shadow: 0 1px 5px #dfdfdf;
  min-width: 160px;
  padding: 0 20px;
  border-radius: 5px;
  margin-top: 30px;
}
@media (min-width: 800px) {
  .filter-bar select {
    margin: 0 50px;
  }
}
.filter-bar select.dark {
  background-color: #2b3945;
  box-shadow: 0 1px 5px #1d2427;
  color: #fafafa;
}
.filter-bar select.dark:active {
  background-color: #2b3945;
}
.filter-bar select option {
  font-weight: 600;
}

.no-search-results {
  margin: 20px 0;
}

.country-list {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 70px);
}
.country-list.dark {
  background-color: #202c37;
  color: #ffffff;
}

@media (min-width: 800px) {
  .countries-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1050px) {
  .countries-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .countries-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1700px) {
  .countries-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.country-card {
  background-color: #ffffff;
  box-shadow: 0 1px 5px #dfdfdf;
  border-radius: 5px;
  margin: 30px auto;
  cursor: pointer;
}
@media (min-width: 800px) {
  .country-card {
    display: inline-block;
    margin: 30px;
  }
}
.country-card.dark {
  background-color: #2b3945;
  box-shadow: 0 1px 5px #1d2427;
}
.country-card a {
  text-decoration: none;
  color: #111517;
}
.country-card a.dark {
  color: #ffffff;
}
.country-card ul {
  list-style: none;
}

.country-info-short {
  padding: 24px 24px 40px 24px;
  font-size: 16px;
  width: 280px;
}

.country-name {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 16px;
}

.data-title {
  font-weight: 600;
}

.flag-img {
  display: block;
  width: 280px;
  height: 180px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #dfdfdf;
}
.flag-img.dark {
  border-bottom: none;
}

.country-page {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  min-height: calc(100vh - 70px);
}
@media (min-width: 800px) {
  .country-page {
    flex-direction: row;
    justify-content: space-around;
  }
}
.country-page.dark {
  background-color: #202c37;
  color: #ffffff;
}

.back-btn-and-image {
  margin: 40px 0;
}
@media (min-width: 800px) {
  .back-btn-and-image {
    margin-right: 20px;
  }
}

.link-back {
  text-decoration: none;
}

.back-btn {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 1px 5px #dfdfdf;
  font-family: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  cursor: pointer;
}
.back-btn.dark {
  background-color: #2b3945;
  box-shadow: 0 1px 5px #1d2427;
  color: #fafafa;
}

.back-arrow {
  width: 20px;
  margin-right: 10px;
}
.back-arrow.dark {
  filter: invert(99%) sepia(6%) saturate(3%) hue-rotate(24deg) brightness(106%) contrast(100%);
}

.country-info-long {
  font-size: 14px;
}
@media (min-width: 800px) {
  .country-info-long {
    padding-top: 120px;
    min-width: 40vw;
  }
}
.country-info-long ul {
  list-style: none;
}
@media (min-width: 800px) {
  .country-info-long ul {
    height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.country-info-long li {
  margin: 10px 0;
}

.flag-img-long {
  display: block;
  align-self: center;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 1px 5px #dfdfdf;
  margin-top: 50px;
}
@media (min-width: 800px) {
  .flag-img-long {
    max-width: 400px;
  }
}
.flag-img-long.dark {
  box-shadow: 0 1px 5px #1d2427;
}

.country-name-long {
  margin-bottom: 20px;
  font-size: 20px;
}

.border-heading {
  font-size: 16px;
  font-weight: 600;
}

.border-countries-container {
  margin: 12px 0 40px 0;
}
.border-countries-container button {
  background-color: #ffffff;
  border: none;
  box-shadow: 0 1px 5px #dfdfdf;
  font-family: inherit;
  margin: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
.border-countries-container button.dark {
  background-color: #2b3945;
  box-shadow: 0 1px 5px #1d2427;
  color: #ffffff;
}

.no-border-countries {
  margin-top: 10px;
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */