$colors: (
  dark-blue: #2b3945,
  darker-blue: #202c37,
  darkest-blue: #111517,
  dark-gray: #858585,
  medium-gray: #dfdfdf,
  light-gray: #fafafa,
  plain-white: #ffffff
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};

$desktop: 1000px; //for now

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0 1px 5px color(medium-gray);
  position: relative;
}

h1 {
  font-size: 16px;
  margin-left: 12px;
}

.mode-toggler {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 12px;
}

.mode-icon {
  width: 16px;
  margin-right: 8px;
}

.country-list {
  background-color: color(light-gray);
}



.search-icon {
  max-width: 20px;
}

.flag-img {
  max-width: 280px;
}

.back-arrow {
  width: 24px;
}