$colors: (
  dark-blue: #2b3945,
  darker-blue: #202c37,
  darkest-blue: #111517,
  dark-shadow: #1d2427,
  dark-gray: #858585,
  medium-gray: #dfdfdf,
  light-gray: #fafafa,
  plain-white: #ffffff
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};

$desktop: 800px;

$grid3: 1050px;
$grid4: 1400px;
$grid5: 1700px;
$grid6: 2050px;

$boxShadow: 0 1px 5px color(medium-gray);
$boxShadowDark: 0 1px 5px color(dark-shadow);

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin grid3 {
  @media (min-width: #{$grid3}) {
    @content;
  }
}

@mixin grid4 {
  @media (min-width: #{$grid4}) {
    @content;
  }
}

@mixin grid5 {
  @media (min-width: #{$grid5}) {
    @content;
  }
}

@mixin grid6 {
  @media (min-width: #{$grid6}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  max-width: 2600px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: color(plain-white);
  box-shadow: $boxShadow;
  position: relative;

  @include desktop {
    padding: 0 20px;
  }

  &.dark {
    background-color: color(dark-blue);
    color: color(plain-white);
    box-shadow: $boxShadowDark;
  }

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 16px;
  margin-left: 12px;
  color: black;

  @include desktop {
    font-size: 20px;
  }

  &.dark {
    color: color(plain-white);
  }
}

.mode-toggler {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 12px;
  cursor: pointer;

  &.dark {
    color: color(plain-white);
  }
}

.mode-icon {
  width: 16px;
  margin-right: 8px;
}

.search-filter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 0 auto;

  @include desktop {
    margin: 0 50px;
  }

  input {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 50px;
    border: none;
    box-shadow: $boxShadow;
    border-radius: 5px;
    min-width: 320px;
    padding-left: 50px;
    
    &.dark {
      background-color: color(dark-blue);
      color: color(plain-white);
      box-shadow: $boxShadowDark;

      &::placeholder {
        color: color(light-gray);
      }
    }
  }

  &::placeholder {
    color: color(dark-gray);
    font-size: 14px;
  }

  .search-icon {
    width: 16px;
    position: absolute;
    margin-left: 20px;

    &.dark {
      filter: invert(99%) sepia(6%) saturate(3%) hue-rotate(24deg) brightness(106%) contrast(100%);
    }
  }
}

.filter-bar {

  select {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 50px;
    border: none;
    box-shadow: $boxShadow;
    min-width: 160px;
    padding: 0 20px;
    border-radius: 5px;
    margin-top: 30px;

    @include desktop {
      margin: 0 50px;
    }

    &.dark {
      background-color: color(dark-blue);
      box-shadow: $boxShadowDark;
      color: color(light-gray);

      &:active {
        background-color: color(dark-blue);
      }
    }

    option {
      font-weight: 600;
    }
  }
}

.no-search-results {
  margin: 20px 0;

  @include desktop {
    position: absolute;
    left: 50px;
  }
}

.country-list {
  background-color: color(light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 70px);
  

  &.dark {
    background-color: color(darker-blue);
    color: color(plain-white);
  }
}

.countries-container {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include grid3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include grid4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include grid5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @include grid6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.country-card {
  background-color: color(plain-white);
  box-shadow: $boxShadow;
  border-radius: 5px;
  margin: 30px auto;
  cursor: pointer;

  @include desktop {
    display: inline-block;
    margin: 30px;
  }

  &.dark {
    background-color: color(dark-blue);
    box-shadow: $boxShadowDark;
  }
  
  a {
    text-decoration: none;
    color: color(darkest-blue);

    &.dark {
      color: color(plain-white);
    }
  }

  ul {
    list-style: none;
  }
}

.country-info-short {
  padding: 24px 24px 40px 24px;
  font-size: 16px;
  width: 280px;
}

.country-name {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 16px;
}

.data-title {
  font-weight: 600;
}

.flag-img {
  display: block;
  width: 280px;
  height: 180px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid color(medium-gray);

  &.dark {
    border-bottom: none;
  }
}

.country-page {
  background-color: color(light-gray);
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  min-height: calc(100vh - 70px);

  @include desktop {
    flex-direction: row;
    justify-content: space-around;
  }

  &.dark {
    background-color: color(darker-blue);
    color: color(plain-white);
  }
}

.back-btn-and-image {
  margin: 40px 0;

  @include desktop {
    margin-right: 20px;
  }
}

.link-back {
  text-decoration: none;
}

.back-btn {
  background-color: color(plain-white);
  border: none;
  box-shadow: $boxShadow;
  font-family: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  cursor: pointer;

  &.dark {
    background-color: color(dark-blue);
    box-shadow: $boxShadowDark;
    color: color(light-gray);
  }
}

.back-arrow {
  width: 20px;
  margin-right: 10px;

  &.dark {
    filter: invert(99%) sepia(6%) saturate(3%) hue-rotate(24deg) brightness(106%) contrast(100%);
  }
}

.country-info-long {
  font-size: 16px;

  @include desktop {
    padding-top: 120px;
    min-width: 40vw;
  }

  ul {
    list-style: none;

    @include desktop {
      height: 230px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  li {
    margin: 10px 0;
    
  }
}

.flag-img-long {
  display: block;
  align-self: center;
  width: 100%;
  max-width: 350px;
  box-shadow: $boxShadow;
  margin-top: 50px;

  @include desktop {
    max-width: 400px;
  }

  &.dark {
    box-shadow: $boxShadowDark;
  }
}

.country-name-long {
  margin-bottom: 20px;
  font-size: 20px;
}

.border-heading {
  font-size: 16px;
  font-weight: 600;
}

.border-countries-container {
  margin: 12px 0 40px 0;

  button {
    background-color: color(plain-white);
    border: none;
    box-shadow: $boxShadow;
    font-family: inherit;
    margin: 5px;
    padding: 5px 20px;
    cursor: pointer;

    &.dark {
      background-color: color(dark-blue);
      box-shadow: $boxShadowDark;
      color: color(plain-white);
    }
  }
}

.no-border-countries {
  margin-top: 10px;
  font-size: 16px;
}

.error-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 70px);
  background-color: color(light-gray);

  &.dark {
    background-color: color(darker-blue);
    color: color(plain-white);
  }

  h2 {
    margin: 20px 0;
  }

  a {
    font-size: 20px;

     &.dark {
      color: color(plain-white);
     }
  }
}